@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  cursor: url("../../public/umbrellaicon.png"), auto;
}
/* 
html,
body {
  overflow-x: hidden;
} */

@media only screen and (max-width: 1169px) {
  .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    visibility: visible !important;
    animation: timeline-slide 0.6s !important;
  }
}

@keyframes timeline-slide {
  0% {
    opacity: 0 !important;
    transform: translateY(-50px) !important;
  }

  60% {
    transform: translateY(-10px) !important;
  }

  100% {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}

html {
  scroll-behavior: smooth;
}
