@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
  color: #c7c7c7;
}

/* .vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
  visibility: visible !important;
}

.is-hidden {
  visibility: visible !important;
} */
